1. Buatlah model klasifikasi dengan menggunakan SVM untuk data suara, voice.csv.

In [1]:
# Import library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# Load data
df = pd.read_csv('data/voice.csv')
df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [3]:
X = df.drop('label', axis = 1)
y = df['label']

# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 50)

# Buat dan Latih Model SVM
svm_model = SVC(kernel = 'linear')
svm_model.fit(X_train, y_train)

# Evaluasi Model
y_pred = svm_model.predict(X_test)

# Hitung akurasi
accuracy = accuracy_score(y_test, y_pred)
print(f'accuracy: {accuracy}')

# Print laporan klasifikasi
print(classification_report(y_test, y_pred))

# Print matrix kebingungan
confusion = confusion_matrix(y_test, y_pred)
print('Confusion Matrix: ')
print(confusion)

accuracy: 0.9211356466876972
              precision    recall  f1-score   support

      female       0.97      0.87      0.92       324
        male       0.88      0.97      0.92       310

    accuracy                           0.92       634
   macro avg       0.92      0.92      0.92       634
weighted avg       0.93      0.92      0.92       634

Confusion Matrix:
[[283  41]
 [  9 301]]

2. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
    1. Menggunakan data spam.csv
    2. Fitur CountVectorizer dengan mengaktifkan stop_words
    3. Evaluasi hasilnya

In [4]:
# Load data menggunakan encoding
df = pd.read_csv('data/spam.csv', encoding='latinâ€“1') 
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
# Drop kolom
df = df.drop(df.iloc[:, 2:], axis=1)
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
# Rename kolom
new_cols = {
    'v1': 'Labels',
    'v2': 'SMS'
}

df = df.rename(columns = new_cols)
df.head()

  Labels                                                SMS
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
# Memisahkan fitur dan label
X = df['SMS'].values
y = df['Labels'].values

# Inisiasi CountVectorizer
cv = CountVectorizer(stop_words = 'english')

# Fitting dan transform X_train dengan CountVectorizer
X = cv.fit_transform(X)

# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 50)

# Inisiasi MultinomialNB
mnb = MultinomialNB()
mnb.fit(X_train, y_train) # Fit model

# Print hasil
print('training accuracy: ', mnb.score(X_train, y_train))
print('test accuracy: ', mnb.score(X_test, y_test))

training accuracy:  0.9948395781916087
test accuracy:  0.9775784753363229

3. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
    1. Menggunakan data spam.csv
    2. Fitur TF-IDF dengan mengaktifkan stop_words
    3. Evaluasi hasilnya dan bandingkan dengan hasil pada Tugas no 2.
    4. Berikan kesimpulan fitur mana yang terbaik pada kasus data spam.csv

In [8]:
# Inisiasi TfidfVectorizer
tv = TfidfVectorizer(stop_words = 'english')

# Memisahkan fitur dan label
X = df['SMS'].values
y = df['Labels'].values

# Fitting dan transform X_train dengan CountVectorizer
X = tv.fit_transform(X)

# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=50)

# Inisiasi MultinomialNB dan fit model
mnb = MultinomialNB()
mnb.fit(X_train, y_train)

# Print hasil
print('training accuracy: ',mnb.score(X_train,y_train))
print('test accuracy: ',mnb.score(X_test,y_test))

training accuracy:  0.9836212699124972
test accuracy:  0.9605381165919282